{layout name="Public/layout" /}

<div class="panel panel-default">
    <div class="panel-body">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>图片</th>
                    <th>链接</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name='data' id='vo'}
                    <tr>
                        <td>{$vo['title']}</td>
                        <td><img src="{$vo[img]}" style="width: 50px;height: 50px;"></td>
                        <td>{$vo[game_url]}</td>
                        <td>
                            <a href='{:url("del",array("id"=>$vo[id]))}' onClick="return del();">删除</a>
                            <a href='{:url("add",array("id"=>$vo[id]))}'>修改 </a>
                        </td>
                            
                    </tr>
                {/volist}
            </tbody>
        </table>

        <include file="Public/pagination" /> 
    </div>
    <!--/.col-->
</div>
