{layout name="Public/layout" /}
<div class="panel panel-default">


<div class="panel-body">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th width="100">角色名称</th>
                <th>权限</th>
                <th  width="100">操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name='data[content]' id='vo'}
                <tr>
                    <td>{$i}</td>
                    <td>{$vo[role_name]}</td>
                    <td>{$vo[auth_name]}</td>
                    <td><a href='{:url("Role/del_role",array("id"=>$vo[role_id]))}' onClick="return del();">删除</a> <a href='{:url("Role/add_role",array("id"=>$vo[role_id]))}'>修改</a></td>
                </tr>
            {/volist}
        </tbody>
    </table>
    {include file="Public/pagination" /}
</div>

</div>

<script>
function del(){
    if(!confirm('确认执行此操作吗？')){
        return false;
    }
}
</script>
