


<div style="width: 100%;height: 30px;"></div>

<div class="row fixed-bottom row-center" style="padding:5px 0 0 0;border-top: 1px solid #666;background: #fff">
    <a class="col" href="{:url('index/index')}" style="color:#45BBAF;">
        <img src="__SHOP_STATIC__img/index.png"> <br/>
        首页
    </a>
    <a class="col" href="{:url('index/cate_lists')}">
        <img src="__SHOP_STATIC__/img/classify.png"> <br/>
        分类
    </a>
    <a class="col" href="{:url('index/cart')}">
        <img src="__SHOP_STATIC__/img/car1.png"> <br/>
        购物车
    </a>
    <a class="col" href="{:url('user/index')}">
        <img src="__SHOP_STATIC__/img/personal.png"> <br/>
        我
    </a>
</div>