<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
    <link rel="stylesheet" href="__SHOP_STATIC__/lib/ionic/css/ionic.min.css"/>
    <link rel="stylesheet" href="__SHOP_STATIC__/css/style.css"/>
    <link rel="stylesheet" href="__SHOP_STATIC__/lib/swipe/swiper.min.css"/>
    <script src="__SHOP_STATIC__/lib/jquery/jquery-1.11.3.min.js"></script>
    <script src="__SHOP_STATIC__/lib/swipe/swiper.min.js"></script>
    <script src="__SHOP_STATIC__/js/jquery.min.js"></script>
    <script src="__SHOP_STATIC__/js/jquery.js"></script>

    <title>{$page_title}</title>

</head>