<div  class="pagination"> {$data[lists][page]|default=$data[page]}</div>
<style>
 
.pagination{ float:left; margin-top:10px; margin-bottom:10px; margin-left:10px; position: relative; z-index:1;}
.pagination a,.pagination span{ color: #000; display:block; float:left; width:30px; height:30px; border-radius:15px; line-height:30px; text-align:center;box-shadow: 0px 0px 3px #AAAAAA; background:#fff; margin-right:5px; border:rgba(26, 126, 237, 0.8); font-size:18px;}
.pagination span.current{ background:#0099FF; color:#fff;}


</style>