{layout name="Public/layout" /}

<div class="panel panel-default">
    <form action="{:url('Ad/add_action')}"  enctype="multipart/form-data"  method="post" name="auth" id="auth">
        <input type="text" style="display:none;" name="post_id"  class="form-control" value="{$data['id']}">
        <div class="panel-body">
            <div class="form-group">
                <label for="text-input" class="col-md-2 control-label">标题</label>
                <div class="col-md-4 input-group ">
                    <input type="text" name="post[title]"  class="form-control" value="{$data['title']}">
                </div>
            </div>
            <div class="form-group">
                <label for="text-input" class="col-md-2 control-label">所位置</label>
                <div class="col-md-4 input-group ">
                    <select name="post[cate_id]" id="DropDownTimezone" class="form-control">
                        {volist name="data[cate_lists]" id="lists"}
                            <option {if condition="$data['cate_id'] eq $lists[id] "}selected{/if}  value="{$lists[id]}">{$lists[title]}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="text-input" class="col-md-2 control-label">链接</label>
                <div class="col-md-4 input-group ">
                    <input type="text" name="post[url]" value="{$data['url']}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="text-input" class="col-md-2 control-label">缩略图</label>
                <div class="col-md-4 input-group ">
                    <img alt="Sample Image" src="{$data['img_thumb']}" style="{if condition="$data['img_thumb'] eq ''"}display:none;{/if} width:100px" id="UploadImg_src" class="img-thumbnail">
                    <input type="hidden" name="post[img_thumb]" id="img_thumb_hidden" value="{$data['img_thumb']}">
                    <input type="hidden" name="post[img_orogin]" id="img_orogin_hidden" value="{$data['img_orogin']}">
                    <i class="fa fa-plus"></i><a type="button" onclick="show_content('{:url("Config/material_lists")}?ajax=1&return_fn=material_select')" >添加图片 </a>
                    <!--打开图册-->
                    <script type="text/javascript">
                        var upload_url="DOMAIN/plus.php/Image/upload_img?&json=1";
                        var upload_action="DOMAIN/userweb.php/Config/material_add_action?&json=1";
                        var material_url="DOMAIN/userweb.php/Config/get_material_lists?&json=1";
                    </script>
                    <script src="__ADMIN_STATIC__/public/js/material_lists_ajax.js"></script>
                    <script src="__ADMIN_TOOL__/ajaxFileUpload/jquery.ajaxFileUpload.js" type="text/javascript"></script>
                    <script>
                        //选择图片之后
                        function material_select(img_thumb,img_orogin){
                            //alert(img_thumb+img_orogin);
                            $("#UploadImg_src").show();
                            $("#UploadImg_src").attr("src",img_thumb);
                            $("#img_thumb_hidden").val(img_thumb);
                            $("#img_orogin_hidden").val(img_orogin);
                            show_content_close();
                        }
                    </script>
                </div>
            </div>
            <div class="form-group">
                <label for="text-input" class="col-md-2 control-label">排序</label>
                <div class="col-md-4 input-group ">
                    <input type="text" name="post[sort_order]" value="{$data['sort_order']}" class="form-control">
                </div>
            </div>
             
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-success" type="submit" onclick1="save_vote()"><i class="fa fa-dot-circle-o"></i> 保存</button>
            <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> 重置</button>
        </div>
    </form>
</div>

<script src="__ADMIN_STATIC__/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
<!--/container-->
<div class="clearfix"></div>

{include file="Public/dailog" /}

